.input {
  margin: 1rem;
}

.table {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 9rem);
  grid-template-rows: repeat(3, auto);

  max-width: 576px;
  font-weight: 500;
}

.task_ {
  display: flex;
  height: 2rem;
  align-items: center;
  gap: 0.5rem;
  border: solid black 1px;
  width: 9rem;
  height: auto;
  cursor: pointer;
  border-radius: 4px;
}
