.input {
  margin: 1rem;
}

.table {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 9rem);
  grid-template-rows: repeat(3, auto);

  max-width: 576px;
  font-weight: 500;
}

.tasks_box {
  margin: 1rem;
  border: solid black 1px;
  width: 8rem;
  height: auto;
  cursor: pointer;
}
